:root {
--darkC: rgb(20, 20, 20);
--colorM: rgb(150, 0, 150);
--colorW: white;
}

body {
    background-color: var(--darkC);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--colorW);
}

header, footer {
    text-align: center;
    margin: 15px 0px;
    height: 50px;
}

h1 {
    font-size: 32px;
    padding: 10px;
    color: var(--colorM);
}

p {
    color: var(--colorW);
    padding: 10px;
    line-height: 1.5;
}

section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 15px 0px;
    justify-content: space-evenly;
}
/* Card box */
.card {
    display: flex;
    flex-direction: column;
    border: 2px var(--colorW) dashed; 
    text-align: left;
    padding: 15px;
    margin: 30px 15px 15px 15px;
    flex: 1 1 450px;
 }

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorM);
    padding: 10px;
    margin-top: -30px;
}
/* Card box Header */
.cardH {
    display: block;
    position: relative;
    top: -40px;
    border: 1px solid var(--colorW);
    border-radius: 15px;
    background-color: var(--darkC);
   }
   
.cardH h2 {
    text-align: left;
    padding: 10px 15px;
    font-size: 28px;
    padding: 10px;
    color: var(--colorM); 
} 
/* Shadow around card*/
.card:hover, .card:hover .cardH{
    box-shadow: 0px 0px 20px var(--colorM), inset 0px 0px 20px var(--colorM);
    transition: 1s;
}
/* Card code box */
.cardCode {
    font-family: 'Courier New', Courier, monospace; 
    background: linear-gradient(rgb(60, 0, 60) 0%, var(--colorM) 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;
   }

.cardCode code {
    padding: 10px;
    margin: 15;
    line-height: 1.5;
    color: var(--colorW);
    user-select: all;
}
/* Footer spec. character */
footer span::after, footer span::before {
    content: "\272D";
}
/* Animation on page load */
.card, .cardH, .cardH h2, .card p {
    animation-duration: 1s;
    animation-name: popup;
}

@keyframes popup {
    from {
        transform: scale(0.89);
        color: black;
         }
  
    to {
        transform: scale(1);
        color: var(--colorM);
    }

}

@media screen and (max-width: 600px) {
    header {
        margin-bottom: 35px;
    }
}
  @media screen and (max-width: 400px) {
      header {
          margin-bottom: 55px;
      }
  }